In [50]:
import pandas as pd
import os
from tensorflow.contrib.keras.python.keras.preprocessing.text import Tokenizer
import numpy as np
import src

dataPath = os.path.join(src.ROOT_DIR, 'data/test.csv')

data = pd.read_csv(dataPath, nrows=10, encoding='utf8', na_filter=False, memory_map=True,
                   dtype={'Score': str, 'Text': str})

a = data.head(50)
mask = a.Score.apply(lambda x: x.isnumeric() and int(x) < 6)
a[mask]
# a[a.apply(lambda df: df.Score.to_string().isdigit())]
# int('8')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Score</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Product arrived labeled as Jumbo Salted Peanut...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>This is a confection that has been around a fe...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>I got a wild hair for taffy and ordered this f...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>tasty taffy"</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:

# todo maybe top_words limit?
tokenizer = Tokenizer(filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
                      lower=True,
                      split=" ")

train_set = ("The sky is blue.", "The sun is bright.")
test_set = ("The sun in the sky is bright.","We can see the shining sun, the bright sun.")

tokenizer.fit_on_texts(train_set)

In [14]:

tokenizer.texts_to_matrix([train_set[0]],mode='tfidf')

array([[ 0.        ,  0.51082562,  0.51082562,  0.69314718,  0.69314718,
         0.        ,  0.        ]])

In [11]:

tokenizer.texts_to_matrix(train_set, mode='tfidf')

array([[ 0.        ,  0.51082562,  0.51082562,  0.69314718,  0.69314718,
         0.        ,  0.        ],
       [ 0.        ,  0.51082562,  0.51082562,  0.        ,  0.        ,
         0.69314718,  0.69314718]])